@media screen and (max-width: 992px) {
  .post-info h6 {
    font-size: .8rem;
  }

  .author h6 {
    font-size: .8rem;
  }

  .about-author {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.title {
  margin-top: 1.5em;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.post-info h6 {
  margin: 0;
}

.post-info span {
  margin-right: .5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author h6 {
  margin: 0;
}

.tags {
  margin-bottom: 2rem;
}

.tags a {
  background-color: #C0C0C0;
  color: #1C1C1C;
  padding: .4rem;
  border-radius: 20px;
  margin-right: 1rem;
}

.tags a:hover {
  color: #C0C0C0;
  background-color: #696969;
  text-decoration: none;
}

.content p {
  font-size: 1.3em;
  text-align: justify;
  font-weight: normal;
}

h2 {
  margin-bottom: 1rem;
}

pre, code {
  border-radius: 1rem;
  padding: 1rem;
}

.about-author {
  display: flex;
  margin-top: 5em;
  gap: 1rem;
  /* background-color: #282C34; */
  padding: 2em;
  border-radius: 1em;
  color: #1C1C1C;
  font-weight: 300;
  font-size: 1.2em;
}

.author-image img {
  height: 112px;
  width: 112px;
  border-radius: 50%;
}

.content img {
  width: 100%;
  height: auto;
}
