@media screen and (max-width: 992px) {
  .profile-section {
    flex-direction: column;
    text-align: center;
  }

  p {
    word-spacing: -2px;
  }
}

body {
  background-color: #1C1C1C;
  color: #C0C0C0;
}

body a {
  color: #808080;
  text-decoration: none;
}

body a:hover {
  color: #696969;
  text-decoration: underline;
}

nav {
  background: #1C1C1C;
}

nav span {
 color: #C0C0C0;
}

.nav-link {
  font-size: 1.5em;
  color: #C0C0C0;
  text-decoration: none;
}

#navbarSupportedContent a {
  padding: .6em .6em .6em 0;
  gap: 1em;
}

.nav-link:hover {
  color: #696969;
}

.profile-section {
  display: flex;
  gap: 1.5em;
  margin-top: 1.5em;
}

.profile-section img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.name-and-description {
  margin-top: .8em;
}

.name-and-description h4 {
  font-size: 1.3em;
  font-weight: 300;
}

.about-section {
  margin-top: 1.5em;

  text-align: justify;
  font-size: 1.3em;
  font-weight: 300;
}

.latest-articles {
  margin-top: 5em;
}

.title {
  display: flex;
  gap: 1.5em;
}

.title button {
  font-size: 1.2em;
  height: 2em;
  width: 6em;
  margin-top: 0.3em;
  border-radius: .2em;
  border: solid;
  border-width: 0.1em;
  color: #C0C0C0;
  background-color: #1C1C1C;
}

.title button:hover {
  cursor: pointer;
  color: #1C1C1C;
  background-color: #C0C0C0;
  border: none;
  transition: .3s;
}

.links {
  margin-top: 1em;
  font-size: 1.3em;
}

.links ul {
  font-weight: 300;
  list-style: none;
  margin: 0 0 0 -1.5em;
}

.popular-articles {
  margin-top: 5em;
}

footer {
  margin-top: 5em;
  margin-bottom: 5em;
}

footer p {
  margin: 0;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: .3em;
  margin-bottom: 0;
}

#open-source {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

#contact {
  display: flex;
  justify-content: space-between;
  padding: .6em;
  gap: 1em;
}

#contact i {
  font-size: 24px;
}

#up-arrow {
  display: flex;
  justify-content: end;
}

#up-arrow img {
  background-color: #FFFF;
  padding: .6em;
  border-radius: 50%;
}

#up-arrow img:hover {
  cursor: pointer;
  transition: .2s;
  background-color: #696969;
}
