@media screen and (max-width: 992px) {
  .profile-section {
    flex-direction: column;
    text-align: center;
  }

  p {
    word-spacing: -2px;
  }

  #badges {
    justify-content: center;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
}

body a:hover {
  color: #808080;
  text-decoration: underline;
}

.nav-link {
  font-size: 1.5em;
  font-weight: bold;
  color: #1c1c1c;
  text-decoration: none;
}

#navbarSupportedContent a {
  padding: 0.6em 0.6em 0.6em 0;
  gap: 1em;
}

.nav-link:hover {
  color: #696969;
}

.profile-section {
  display: flex;
  gap: 1.5em;
  margin-top: 1.5em;
}

.profile-section img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.name-and-description {
  margin-top: 0.8em;
}

.name-and-description h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.about-section {
  margin-top: 1.5em;
  text-align: justify;
  font-size: 1.2em;
  font-weight: normal;
}

main {
  flex: 1 0 auto;
}

.latest-articles {
  margin-top: 5em;
}

.title {
  display: flex;
  gap: 1.5em;
}

.title button {
  font-size: 1.2em;
  height: 2em;
  width: 6em;
  margin-top: 0.3em;
  border-radius: 0.2em;
  border: solid;
  border-width: 0.1em;
  /* color: #1C1C1C; */
  /* background-color: #C0C0C0; */
}

.title button:hover {
  cursor: pointer;
  /* color: #F8F9FA;
  background-color: #212529; */
  /* border: none; */
  transition: 0.5s;
}

.links {
  margin-top: 1em;
  font-size: 1.2em;
}

.links ul {
  font-weight: normal;
  list-style: none;
  margin: 0 0 0 -1.5em;
}

.links ul li {
  display: flex;
  gap: 1rem;
}

.links ul li p {
  margin: 0;
}

.popular-articles {
  margin-top: 5em;
}

footer {
  margin: 4em auto;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}

#badges {
  padding-top: 0.6em;
}

#copyright,
#open-source {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  margin-bottom: 0;
}

#open-source {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

#contact {
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
  gap: 1em;
}

#contact i {
  font-size: 24px;
}

#contact i:hover {
  opacity: 80%;
}

#up-arrow {
  display: flex;
  justify-content: end;
}

#up-arrow i {
  padding: 0.6em;
  border-radius: 50%;
  border: solid 1px;
  width: 43px;
  height: 43px;
}

#up-arrow i:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 80%;
}

.card {
  display: block;
  transition: transform 0.4s; /* smoother zoom */
}

.card:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.supbrokers {
  background-color: #9747ff;
}
